<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" th:href="@{css/chat.css}">
        <link rel="stylesheet" th:href="@{css/chatonline.css}">
    </head>
    <body>
        <div class="main">
            <div class="leftPane">
                <div class="showname">
                    <span class="usernamePane" style="color: #fff;"><p th:if="not ${#strings.isEmpty(user)}" th:text="${user}"></p></span>
                </div>

                <div th:if="not ${#strings.isEmpty(userConInfo)}" th:each="recInfo:${userConInfo}" data-v-2cbee71c="" class="left2 dialog active">
                    <div  class="dialog-avator"></div>

                    <span data-v-2cbee71c="" class="dialog-name ellipsis">[[${recInfo.usernameFind}]]</span>
                    <div data-v-2cbee71c="" class="label dialog-label yellow">
                        店铺
                    </div>
                </div>


                <div data-v-2cbee71c="" class="left2 dialog active">
                    <div  class="dialog-avator"></div>
                    <span data-v-2cbee71c="" class="dialog-name ellipsis">巨臣昌隆服饰专营</span> 
                    <div data-v-2cbee71c="" class="label dialog-label yellow">
                        店铺
                    </div>
                </div>


            </div>
            <div class="topPane">
                <div class="showshopname"><span class="shopname">晨晨专卖店</span></div>
            </div>


            <div class="chatmain">
                <div class="msgmain" th:if="${!#strings.isEmpty(newsList)}" th:each="news:${newsList}">
                    <!--<p class="msg-left">小米自营店官方客服</p>-->
                    <p th:class="${(u_IdType eq news.u_IdType)?'msg-right':'msg-left'}" th:text="${(u_IdType eq news.u_IdType)?senderName:recName}"></p>
                    <div th:class="${(u_IdType eq news.u_IdType)?'msgshow msg-right fr':'msgshow msg-left'}">
                       <p th:text="${news.getN_news()}"></p>
                    </div>
                </div>

            </div>




            <div class="buttomPane">
                <textarea class="inputChat" placeholder="请输入"></textarea>
                <button class="sure">发送</button>
            </div>
        </div>
    </body>
    <script>
        $(function () {
            var leftPane = $(".leftPane");
            var leftList = $(leftPane).getElementsByClassName("left2");
        })
    </script>
</html>