<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script th:src="@{webjars/jquery/3.3.1-1/jquery.js}" type="text/javascript" charset="utf-8"></script>-->
    <script
            src="https://code.jquery.com/jquery-1.7.2.min.js"
            integrity="sha256-R7aNzoy2gFrVs+pNJ6+SokH04ppcEqJ0yFLkNGoFALQ="
            crossorigin="anonymous"></script>
</head>
</head>
<body class="bodyMy">
<form method="post" id="formMy" action="/getnews" onsubmit="return checkMy()">
    <!--<input class="sender" name="sender" th:value="${sender}"><br/><br/>-->
    <input class="choose" name="chooseOf"><br/><br/>
    [[${sender}]]<br/><br/>
    <input type="hidden" value="商家" name="recieverType">
    <input type="checkbox" class="username" checked name="recieverId01" value="1"><button class="btn" type="submit">和光头强聊天</button><br/><br/>
    <input type="checkbox" class="username" name="recieverId02" value="2"><button class="btn" type="熊大">和熊大聊天</button><br/><br/>
    <input type="checkbox" class="username" name="recieverId03" value="3"><button class="btn" type="submit">和熊二聊天</button><br/><br/>
    <button type="submit">确认</button>
</form>


</body>
<script>
    $(function () {
        $(".btn").click(function () {
            alert(222)
            // var ls = $("[name='checkbox']").attr("checked");


        })
    })

    function checkMy() {
        var ll = $("#formMy :checkbox[checked]").val();
        $(".choose").val(ll);
        return true
    }
</script>
</html>