<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script th:src="@{webjars/jquery/3.3.1-1/jquery.js}" type="text/javascript" charset="utf-8"></script>-->
    <script
            src="https://code.jquery.com/jquery-1.7.2.min.js"
            integrity="sha256-R7aNzoy2gFrVs+pNJ6+SokH04ppcEqJ0yFLkNGoFALQ="
            crossorigin="anonymous"></script>
</head>
</head>
<body class="bodyMy">
<center>
<form method="post" th:fragment="chatMain" id="formMy" action="/getnews" onsubmit="return checkMy()">
    <input type="hidden" class="recType" value="" name="receiverType">
    <input type="hidden" class="recId" value="" name="receiverId">
    <input type="checkbox" class="username" checked value="1"><button class="btnT" type="submit">咨询管理员1</button><br/><br/>
    <input type="checkbox" class="username" value="2"><button class="btnT" type="熊大">咨询管理员2</button><br/><br/>
    <input type="checkbox" class="username" value="3"><button class="btnT" type="submit">咨询管理员3</button><br/><br/>
    <button type="submit">确认</button>
</form>
    <br/><br/>
<form method="post" th:fragment="chatMain" id="formM" action="/getnews" onsubmit="return checkM()">
    <input type="hidden" class="" value="商家" name="receiverType">
    <input type="hidden" class="recId01" value="" name="receiverId">
    <input type="checkbox" class="username" checked value="1"><button class="btnT" type="submit">咨询OPPO客服</button><br/><br/>
    <input type="checkbox" class="username" value="2"><button class="btnT" type="">咨询VIVO客服</button><br/><br/>
    <input type="checkbox" class="username" value="3"><button class="btnT" type="submit">咨询坚果客服</button><br/><br/>
    <button type="submit">确认</button>
</form>

</center>
</body>
<script>
    $(function () {

    })
    function checkMy() {
        var ll = $("#formMy :checkbox[checked]").val();
        $(".recId").val(ll);
        return true;
    }
    function checkM() {
        var ll = $("#formM :checkbox[checked]").val();
        $(".recId01").val(ll);
        return true;
    }
</script>
</html>