<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>对比</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link rel="stylesheet" type="text/css" href="./css/widget.css" source="widget">
</head>
<body>
    <!-- 头部 -->
        <header>
            <div class="top center">
                <div class="left fl">
                    <ul>
                        <li><a href="http://www.mi.com/" target="_blank">MPS商城</a></li>
                        <li>|</li>
                        <li><a href="">MPS</a></li>
                        <li>|</li>
                        <li><a href="">我们的手机商城</a></li>
                    </ul>
                </div>
                <div class="right fr">
                    <div class="gouwuche fr"><a href="">购物车</a></div>
                    <div class="fr">
                        <ul>
                            <li><a href="./login.html" target="_blank">登录</a></li>
                            <li>|</li>
                            <li><a href="./register.html" target="_blank" >注册</a></li>
                            <li>|</li>
                            <li><a href="">消息通知</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </header>  
    <!-- main开始 -->
    <!-- main -->
    <div id="container" class="compare-cont">
        <div class="w">
            <div class="compare-main">
                <div class="compare-goods">
                    <table class="compare-table1">
                        <colgroup>
                            <col class="title-col">
                            <col class="cont-col">
                            <col class="cont-col">
                            <col class="cont-col">
                            <col class="cont-col">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th></th>
                                    <td>
                                        <div class="goods-item" data-sku="7651927">
                                            <div class="p-img" clstag="shangpin|keycount|compare|mainpic"><a ></a></div>
                                            <div class="p-slider">
                                            <span class="slider-prev slider-disable"></span>
                                            <span class="slider-next slider-disable"></span>
                                            <div class="slider-main" style="position: relative;">
                                                <ul class="slider-list" style="width: 160px; position: absolute;">
                                                </ul>
                                            </div>
                                        </div>								
                                            <div class="p-name" clstag="shangpin|keycount|compare|spmingcheng"><a></a>
                                            <a href="javascript:;" class="btn-del" clstag="shangpin|keycount|compare|shanchu"></a></div>
                                        </div>
                                    </td>
                                <td>
                                    <div class="add-item J-thickbox-promo" clstag="shangpin|keycount|compare|tjtlshangpin">
                                        <a href="javascript:">+ 添加同类商品</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="add-item J-thickbox-promo" clstag="shangpin|keycount|compare|tjtlshangpin">
                                    <a href="javascript:">+ 添加同类商品</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="compare-table2" id="compareResult">
                    <colgroup>
                        <col class="title-col">
                        <col class="cont-col">
                        <col class="cont-col">
                        <col class="cont-col">
                        <col class="cont-col">
                    </colgroup>
                    <tbody>
                        <tr class="tr-item J-tr-compare" clstag="shangpin|keycount|compare|yanse">
                            <th><div class="tb-title">属性一</div></th>
                                <td>
                                    <ul class="choose-box1"></ul>
                                </td>
                                <td class="td-empty">&nbsp;</td>
                                <td class="td-empty">&nbsp;</td>
                        </tr>
                        <tr class="tr-item J-tr-compare" clstag="shangpin|keycount|compare|neicun">
                            <th><div class="tb-title">属性二</div></th>
                             <td>
                                 <ul class="choose-box2"></ul>
                             </td>
                            <td class="td-empty">&nbsp;</td>
                            <td class="td-empty">&nbsp;</td>
                        </tr>
                        <tr class="tr-item J-tr-compare" clstag="shangpin|keycount|compare|neicun">
                            <th><div class="tb-title">属性三</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty">&nbsp;</td>
                            <td class="td-empty">&nbsp;</td>
                        </tr>
                        <tr class="tr-item" clstag="shangpin|keycount|compare|dianpu">
                            <th><div class="tb-title">店铺</div></th>
                            <td>
                                <div class="p-shop">
                                    <a href="https://mi.jd.com/" target="_blank" title="小米京东自营旗舰店"></a>
                                </div>
                            </td>
                            <td class="td-empty">&nbsp;</td>
                            <td class="td-empty">&nbsp;</td>
                        </tr>
                        <tr class="tr-item">
                            <th>
                                <div class="tb-title">品牌<div></div>
                                </div>
                            </th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty">&nbsp;</td>
                            <td class="td-empty">&nbsp;</td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">产地</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty">&nbsp;</td>
                            <td class="td-empty">&nbsp;</td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>主体</em></h5>
                            </th>
                        </tr> 
                        <tr class="tr-item">
                            <th><div class="tb-title">品牌</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">型号|对外宣传型号</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">上市日期</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>基本信息</em></h5>
                            </th>
                        </tr>   
                        <tr class="tr-item">
                             <th><div class="tb-title">机身颜色</div></th>
                             <td><div class="tb-text"></div></td>
                             <td class="td-empty"></td>
                             <td class="td-empty"></td>
                         </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">机身长度（mm）</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">机身宽度（mm）</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">机身厚度（mm）</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">机身重量（g）</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>操作系统</em></h5>
                            </th>
                        </tr>   
                        <tr class="tr-item">
                            <th><div class="tb-title">操作系统</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>主芯片</em></h5>
                            </th>
                        </tr>         
                        <tr class="tr-item">
                            <th><div class="tb-title">CPU</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>存储</em></h5>
                            </th>
                        </tr>    
                        <tr class="tr-item">
                            <th><div class="tb-title">RAM|机型的运行内存，决定机身的运行速度。</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">ROM|机身的存储空间</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>屏幕</em></h5>
                            </th>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">主屏幕尺寸（英寸）</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>前置摄像头</em></h5>
                            </th>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">前置摄像头</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>后置摄像头</em></h5>
                            </th>
                        </tr>
                        <tr class="tr-item">
                             <th><div class="tb-title">后置摄像头</div></th>
                             <td><div class="tb-text"></div></td>
                             <td class="td-empty"></td>
                             <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>电池信息</em></h5>
                            </th>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">电池容量（mAh）</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">充电器</div></th>
                                <td><div class="tb-text"></div></td>
                                <td class="td-empty"></td>
                                <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>数据接口</em></h5>
                            </th>
                        </tr>  
                        <tr class="tr-item">
                            <th><div class="tb-title">耳机接口类型</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">充电接口类型</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                    <tbody class="tab-category J-tab-compare">
                        <tr class="tr-category">
                            <th colspan="4">
                                <h5 class="tb-subtit"><i class="i-fold"></i><em>手机特性</em></h5>
                            </th>
                        </tr>
                        <tr class="tr-item">
                            <th><div class="tb-title">指纹识别</div></th>
                            <td><div class="tb-text"></div></td>
                            <td class="td-empty"></td>
                            <td class="td-empty"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>